@import ../../../styles/helpers

.section
    padding-bottom: 50px
    padding-top: 100px
    +d
        margin-bottom: 80px
        padding-bottom: 80px
    +m
        margin-bottom: 64px
        padding-bottom: 64px
    +dark
        border-color: $n2

.center 
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 80px;
    @media (max-width: 767px) // ⬅️ untuk HP (tablet ke bawah)
        padding: 0 10px
    

.wrapper
    display: flex
    align-items: flex-start
    +t
        display: block

.details
    flex-grow: 1
    padding-right: 48px
    +t
        margin-bottom: 48px
        padding-right: 0

.receipt
    flex-shrink: 0
    +m
        margin: 0 -16px

.btns
    display: flex
    gap: 10px
    margin-bottom: 32px
    .button
        &:first-child
            flex-shrink: 0
            margin-right: 8px
        &:nth-child(2)
            flex-grow: 1

.table
    margin-bottom: 32px

.line
    display: flex
    padding: 8px 12px
    &:last-child
        background: $n7
        border-radius: 8px
        +dark
            background: $n3
        .cell
            &:first-child
                color: $n2
                +dark
                    color: $n8

.cell
    &:first-child
        margin-right: auto
        color: $n4
    &:nth-child(2)
        flex-shrink: 0
        margin-left: 20px
        text-align: right
        font-weight: 500

.foot
    text-align: center

.report
    display: inline-flex
    align-items: center
    +poppins
    +caption-2
    color: $n4
    transition: color .2s
    svg
        margin-right: 8px
        fill: $n4
        transition: fill .2s
    &:hover
        color: $p1
        svg
            fill: $p1

.button__small
    height: 40px
    border-radius: 20px
    padding: 0 16px
    font-size: 14px

.button__stroke
    background: none
    box-shadow: 0 0 0 2px #E6E8EC inset
    color: #23262F
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    +dark
        color: #FCFCFD;

.button__stroke__blue
    background: #3B71FE
    color: #FCFCFD
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer


.button__stroke__blue:hover   
    background: #0142eb;
    color: #FCFCFD;



.button__stroke:hover   
    background: #E6E8EC;
    color: #23262F;
    +dark
        color: #FCFCFD;
        background: #353945;
        box-shadow: 0 0 0 2px #353945 inset

.icon__arrow__left
    margin-left: 8px;
    fill: #23262F;
    +dark
        fill: #FCFCFD; 

.icon__arrow__reserve
    margin-left: 8px;
    fill: #FCFCFD;
